<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chatbot</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="chatbox">
        <div id="messages"></div>
        <input type="text" id="userInput">
        <button id="sendButton" onclick="sendMessage()">Send</button>
        <button id="speakButton" onclick="startDictation()">Speak</button>
    </div>

    <script>
        function sendMessage(text) {
            text = text || document.getElementById('userInput').value;
            document.getElementById('messages').innerHTML += "<b>You:</b> " + text + "<br>";

            fetch('http://localhost:5005/webhooks/rest/webhook', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ "message": text, "sender": "user" }),
            })
            .then(response => response.json())
            .then(data => {
                var botMessage = data[0].text;
                document.getElementById('messages').innerHTML += "<b>Bot:</b> " + botMessage + "<br>";
                document.getElementById('userInput').value = ''; // Clear the input field
            })
            .catch((error) => {
                console.error('Error:', error);
                document.getElementById('userInput').value = ''; // Clear the input field
            });
        }

        function startDictation() {
            if (window.hasOwnProperty('webkitSpeechRecognition')) {

                var recognition = new webkitSpeechRecognition();

                recognition.continuous = false;
                recognition.interimResults = false;

                recognition.lang = "en-US";
                recognition.start();

                recognition.onresult = function(e) {
                    document.getElementById('userInput').value = e.results[0][0].transcript;
                    recognition.stop();
                    sendMessage(e.results[0][0].transcript);
                };

                recognition.onerror = function(e) {
                    recognition.stop();
                }
            }
        }

        // Allow pressing "Enter" to send a message
        document.getElementById('userInput').addEventListener('keypress', function(event) {
            if (event.keyCode === 13) { // 13 is the enter key
                event.preventDefault();
                document.getElementById('sendButton').click();
            }
        });
    </script>
</body>
</html>

